@import "tailwindcss";

#__next-build-watcher,
#__nextjs-dev-overlay {
  display: none !important;
}

html,
body {
  background: #2a003f; /* ton fond global */
}

.body-page {
  background: #2a003f;
  background: linear-gradient(
    180deg,
    rgba(42, 0, 63, 1) 25%,
    rgba(106, 0, 255, 1) 150%
  );
}

.bg-canvas {
  position: fixed;
  inset: 0;
  z-index: 0; /* dessous */
  pointer-events: none;
}

/* Contenu de la page qui passe au-dessus du background + texte blanc */
.page-surface {
  position: relative;
  z-index: 1;
  color: #fff;
  background: transparent;
}

/* globals.css */

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}
.delay-0 {
  animation-delay: 0.1s;
}
.delay-100 {
  animation-delay: 0.3s;
}
.delay-200 {
  animation-delay: 0.5s;
}
.delay-300 {
  animation-delay: 0.7s;
}
