@import "tailwindcss";

#__next-build-watcher,
#__nextjs-dev-overlay {
  display: none !important;
}

html,
body {
  background: #2a003f; /* ton fond global */
}

.body-page {
  background: #2a003f;
  background: linear-gradient(
    180deg,
    rgba(42, 0, 63, 1) 25%,
    rgba(106, 0, 255, 1) 100%
  );
}

.bg-canvas {
  position: fixed;
  inset: 0;
  z-index: 0; /* dessous */
  pointer-events: none;
}

/* Contenu de la page qui passe au-dessus du background + texte blanc */
.page-surface {
  position: relative;
  z-index: 1;
  color: #fff;
  background: transparent;
}
